@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --animate-spin-slow: spin 20s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  --color-gruvbox-bg0: #1d2021;
  --color-gruvbox-bg1: #282828;
  --color-gruvbox-bg2: #32302f;
  --color-gruvbox-bg3: #3c3836;
  --color-gruvbox-bg4: #504945;
  --color-gruvbox-fg: #ebdbb2;
  --color-gruvbox-fg2: #d5c4a1;
  --color-gruvbox-fg3: #bdae93;
  --color-gruvbox-fg4: #a89984;
  --color-gruvbox-red: #fb4934;
  --color-gruvbox-green: #b8bb26;
  --color-gruvbox-yellow: #fabd2f;
  --color-gruvbox-blue: #83a598;
  --color-gruvbox-purple: #d3869b;
  --color-gruvbox-aqua: #8ec07c;
  --color-gruvbox-orange: #fe8019;
  --color-gruvbox-gray: #928374;
}
